*{
    box-sizing: border-box;
    border: solid red 1px;
}

html, body{
    margin: 0px;
    padding: 0px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px auto auto 100px;
    grid-template-areas: 
        "pippo pippo pippo"
        "pluto paperino clarabella"
        "pluto paperino orazio"
        "gennaro gennaro gennaro";
}

header{
    grid-area: pippo;
}

footer{
    grid-area: gennaro;
}

.left{
    grid-area: pluto;
}

main{
    grid-area: paperino;
}

.right-one{
    grid-area: clarabella;
}

.right-two{
    grid-area: orazio;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    .grid-container{
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 150px 50px auto 50px  80px;
        grid-template-areas: 
            "pippo pippo"
            "pluto pluto"
            "paperino paperino"
            "clarabella orazio"
            "gennaro gennario";
    }
}

@media only screen and (max-width: 600px) {
    .grid-container{
        grid-template-columns: 100vw;
        grid-template-rows: 150px 50px auto 50px 50px 80px;
        grid-template-areas: 
            "pippo"
            "pluto"
            "paperino"
            "clarabella"
            "orazio"
            "gennaro";
    }
}
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {

} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {

} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
    
} */
